<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <br>
    <h3>Ingrese el tipo de produccion</h3> 
    <select>  
       <option>INTERNA</option>
       <option>EXTERNA</option>
       <option>HIBRIDA</option>
    </select>
    <br>
    <br>
    <h3>Especie</h3> 
    <select>  
       <option>CAPRINA</option>
    </select>
    <br>
    <br>
    <h3>Animales Afectados</h3> 
    <select>  
       <option>1 a 20</option>
       <option>21 a 30</option>
       <option>31 a 50</option>
    </select>
    <br>
    <br>
    <h3>Enfermedad</h3> 
    <select>  
       <option>Mitosis</option>
       <option>Prolapso</option>
       <option>Fractura</option>
    </select>
    <br>
    <br>
    <h3>Sintomas</h3> 
    <select>  
       <option>Dolor al orinar</option>
       <option>No se mantiene de pie</option>
       <option>se queja demasiado</option>
    </select>
    <br>
    <br>
    <h3>Grado de Dolor</h3> 
    <select>  
       <option>0 a 4</option>
       <option>5 a 7</option>
       <option>8 a 10</option>
    </select>
    <br>
    <br>
    <h3>Nivel de Dolor</h3> 
    <select>  
       <option>BAJO</option>
       <option>MEDIO</option>
       <option>ALTO</option>
    </select>
     <br>
     <br>
    <button type="button" class="btn btn-primary">Enviar</button>
    <br>
    <br>
</body>
</html>
